
  <div class="container">
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% @article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @article, local: true) do |form| %>
        <div class="form-group row">
          <%= form.label :title, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= form.text_field :title, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mt-4">
          <%= form.label :description, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= form.text_area :description, rows: 10, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mt-4 justify-content-center">
          <%= form.submit class: "btn btn-outline-light btn-lg col-2" %>
        </div>
      <% end %>
      <div class="form-group row justify-content-center">
        <%= link_to 'Cancel and return to articles listing', articles_path %>
      </div>
    </div>
  </div>
</div>
