<div id="page-content">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center mt-4">Listing all Articles</h1>

  <div class="container">
    <% @articles.each do |article| %>
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header fst-italic">
              by Robert Wadsworth
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
              <p class="card-text"><%= truncate(article.description, length: 100) %></p>
              <%= link_to "View", article_path(article), class: "btn btn-outline-success text-success" %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info text-info" %>
              <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger text-danger" %>
            </div>
            <div class="card-footer text-muted">
              <small>created <%= time_ago_in_words(article.created_at) %> ago,
              edited <%= time_ago_in_words(article.updated_at) %> ago
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>