<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">AlphaBlog</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-success btn-lg text-white" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>

<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <span class="text-muted text-black">
      Copyright &copy; <%= link_to "Robert Wadsworth", "https://bitbucket.org/rwadsworth/", class: "text-white" %>
    </span>
  </div>
</footer>
</footer>
