@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #000000 !important;
}

.nav-link {
  color: #ffffff !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbotron');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

html, body {
  height: 100%;
}

body {
  margin: 0 !important;
}

#page-content {
  flex: 1 0 auto;
  background-color: #ccc;
}

#sticky-footer {
  flex-shrink: none;
}

.btn-outline-danger:hover,
.btn-outline-info:hover,
.btn-outline-success:hover {
  color: #fff !important;
}